body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: top center;
    font-family: sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 10px;
}

#search-box {
    width: 300px;
    height: 47px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    padding-left: 17px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 3.5px solid orange;
    background-color: floralwhite;
}

#search-box:focus {
    background-color: gainsboro;
}

#weather-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.details {
    color: white;
    margin-top: 25px;
}

#place {
    font-size: 2.5em;
    font-weight: 500;
}

#date-time {
    font-size: 1.3em;
    margin-top: 10px;
}

#temp {
    color: white;
    font-size: 7em;
    text-shadow: 7px 7px 0px rgba(0, 0, 0, 0.7);
}

#temp-value {
    font-weight: 800;
}

#weather {
    color: white;
    font-size: 2.5em;
    font-style: italic;
    margin-top: 40px;
    text-shadow: 100;
}

#temp-range {
    color: white;
    font-size: 2em;
    margin-top: 15px;
    text-shadow: 100; 
} 